{% extends "base.html" %}

{% block title %}Welcome to AlbumR{% endblock %}

{% block content %}


<form class="form-horizontal" action="" method="post">
  <h2>Forget password of AlbumR</h2>
  <fieldset>
    <legend>
    {% if form.errors %}
      <h6 style="color: red;">
        Please correct the error below.
      </h6>
    {% else %}
      <h4>Please fill your email address to get your password.</h4>
    {% endif %}
    </legend>
  </fieldset>

  <div class="control-group">
    <label class="control-label" for="id_email">Email *</label>
    <div class="controls">
      {{ form.email.errors }}
      <input type="text" id="id_email" placeholder="Email">
      {{ form.email }}  
      <span class="help-block">Your e-mail address</span>
    </div>
  </div>    
  
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">Find my password</button>
    </div>
  </div>    

</form>

{% endblock %}