body {
    padding-top: 40px;
    padding-bottom: 40px;
}
#container {
    max-width: 1000px;
    margin: 0 auto;
}
#container_public {
    width: 700px;
    border: 2px solid #ccc;
    padding: 10px 35px 10px 60px;
    border-radius: 15px;
    min-height: 500px;
    height: auto;
    margin: 0 auto;
    background: #f5f5f5;
}

#container_public .template {
    background: none;
}
.dot {
    border: 1px solid #ccc;
}
.right {
    float:right
}

.content {
    padding: 0 !important;
    margin-top: 100px;
}

.content-album{
    padding: 0 !important;
    margin-top: 50px;
}

.album-list {
    margin-top: 20px;
}

/* Album Editor */
.page-editor {
    margin: 10px 20px ;
    background: whiteSmoke;
    min-height: 500px !important;

}
.page-picker {
    margin-bottom: 10px;
    min-height: 25px;
}
}
.page-picker ul {
    list-style: none;
}
.page-picker ul li {
    cursor: pointer;
    text-align: center;
    border: 1px solid #ccc;
    background: #ddd;
    width:30px;
    height: 15px;
    margin-right: 5px;
    display: inline-table;
    border-radius: 3px;
    float: left;
}
.plist {
    display: block;

}

.edit_head
{
     float:left;
     width: 90%;
}

.edit_save
{
    float:left;
    margin-top: 10px;
}

.editor-options {
    min-height: 300px !important;
    background-color: whiteSmoke;
    border: 1px solid rgb(204, 204, 204);
    padding: 30px 10px;
    border-radius: 3px;

}
.editor-options select{
     width: 200px;
     height: 25px;
 }
.editor-options input {
    width: 180px;
}

.editor-options span {
    font-size: 10px;
    color:#666
}

.delpage {
    margin-top: -40px;
    cursor: pointer;
}
.delpage:hover {
    opacity: 0.7;
}

#signup_button {
    position: absolute;    
    right: 29px;
}   

 .form-horizontal {
    max-width: 600px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.error
{
    color: red;
}

.success
{
    color: green;
}

.warning
{
    color: yellow;
}

.info
{
    color: blue;
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 20px 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    position: absolute;
    right: 20px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

/* Public View */

.addthis_toolbox
{
    left:50px;
    top:80px;
}

#copy_url_button
{
position: fixed;
left: 50px;
}