{% extends "base.html" %}

{% block title %}Welcome to AlbumR{% endblock %}

{% block content %}


<link href="{{ STATIC_URL }}css/index_back.css" rel="stylesheet" type="text/css">


<!-- Signin form -->
<div class="form-signin">
    <h2>Sign in</h2>
    <!-- Show error messages -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %} >{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form  action="{% url login %}" method="post">  {% csrf_token %}
    {% if form.errors %}
      <h6 class="error">The username or password you entered is incorrect.</h6>
    {% endif %}
      <div class="control-group">
        <label class="control-label" for="id_username">Email</label>
        <div class="controls">
          {{ form.username }}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="id_password">Password</label>
        <div class="controls">
          {{ form.password }}
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <a href="#signup" data-toggle="modal">Do not have an account? Sign up now!</a> <br/>
        </div>
      </div>
    </form>
</div>

{% include "welcome/sign_up.html" %}
{% endblock %}
