<div class="row-fluid ">
    <div class="span9 main-editor dot">

        <div class="page-editor">
            <div class="template">
                <div class="items_list">
                    <div  class="items">
                        <img class="item_img" src="" />
                    </div>
                </div>
            </div>

        </div>
        <div class="page-picker">

            <ul id="pages" class="pages_list">
                <li>
                    <i class="delpage icon-remove right " title="Remove"></i>
                    <span class="plist"> 1</span>
                </li>


            </ul>
            <ul class="pages_list">
                <li>
                    <i id="add_page" class="icon-plus right " title="Add Page"></i>
                </li>
            </ul>
        </div>

    </div>
    <div class="span3 editor-options ">
        <div class="page_options">
            <span>Page Name </span>
            <input type="text" class="pname" />
            <hr>
            <span>Change Layout</span>
            <div>
                <select class="ptemplate">
                    <option>Layout One</option>
                </select>
            </div>
            <hr>
        </div>
        <div class="item_options">

            <span>Image URL </span>
            <input type="text" class="image_url" />
            <hr>
        </div>
    </div>
</div>

