<div class="row-fluid">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <a href="#create_album" class="btn-primary btn btn-large" data-toggle="modal">Create New Album</a> <br/>

    <div class="row-fluid album-list">
        {% if user.user_albums.all %}

        <table class="table table-striped">
         <thead>
         <tr>
             <th>Name</th>
             <th style="width: 60%">Short Description</th>
             <th>No of Pages</th>
             <th colspan="3">Actions</th>
         </tr>
         </thead>
        <tbody>
        {% for album in user.user_albums.all %}
        <tr>
            <td>{{ album.name }}</td>
            <td>{{ album.description }}</td>
            <td>{{ album.pages.count }}</td>
            <td><a href="{% url am_edit album.id %} ">Edit </a></td>
            <td><a href="{% url am_delete album.id %} " class="delete_album">Delete</a></td>
            <td><a href="{% url am_public album.unique_url %}" class="share_album" target="_blank">Share</a></td>


            </td>
        </tr>

        {% endfor %}
        {% else %}
        <h3>No albums found</h3>
        {% endif %}
        </tbody>

    </table>
    </div>
</div>



