<div class="row-fluid ">
    <div class="span9 main-editor dot">
    <input type="hidden" class="album_id" value="{{album.id}}" />
        <div class="page-picker">
            <ul class="pages" >
                <li>
                    <span class="plist"> 1</span>
                </li>
            </ul>
            <ul class="">
                <li>
                    <i class="add_page icon-plus " title="Add Page"></i>
                </li>
            </ul>
        </div>
        <div class="page-editor">
            <i class="delpage icon-remove right " title="Remove"></i>

            <div class="template">
                <div class="items_list">
                    <div  class="items">
                        <img class="item_img" alt="" src="" />
                    </div>

                </div>
            </div>

        </div>
        <img class="nopage" alt="" src="{{ STATIC_URL }}/img/nopage.gif" />

        <div class="page-picker">
            <ul class="pages" >
                <li>
                    <span class="plist"> 1</span>
                </li>
            </ul>
            <ul class="">
                <li>
                    <i class="add_page icon-plus " title="Add Page"></i>
                </li>
            </ul>
        </div>

    </div>
    <div class="span3 editor-options ">
        <div class="page_options">
            <span>Caption </span>
            <input type="text" class="pname" />
            <hr>
            <span>Change Layout</span>
            <div>
                <select class="ptemplate">
                    <option>Layout One</option>
                </select>
            </div>
            <hr>
        </div>
        <div class="item_options">

            <span>Image URL </span>
            <input type="text" class="image_url" />
            <hr>
        </div>
    </div>
</div>

