<div id="create_album" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel
aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="icon-remove"></i></button>
        <h3 id="myModalLabel">
            New Album</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" action="" method="post">
            {% if form.errors %}
            <h6 style="color: red;">
                Please correct the error below.
            </h6>
            {% else %}
            <h5>
                Field marked with "*" are mandatory</h5>
            {% endif %}
            <div class="control-group">
                <label class="control-label" for="id_album_name">
                    Abum Name *</label>
                <div class="controls">
                    {{ form.album_name.errors }}
                    <input type="text" id="id_album_name" placeholder="Album_name">
                    {{ form.album_name }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="id_album_description">
                    Description</label>
                <div class="controls">
                    {{ form.album_description.errors }}
                    <textarea rows="4" id="id_album_description" placeholder="Album_description"></textarea>
                    {{ form.album_description }}
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            Close</button>
        <button class="btn btn-primary" onclick="create_album()">
            Save</button>
    </div>
</div>