<div id="page_template_0">
    <div id="page_template_0_a" class="page_template">
        <img src="http://dawncompk.files.wordpress.com/2012/10/2-german-alps-pictures-afp-670.jpg" style="width: 790px;">
    </div>
</div>

<div id="page_template_1">
    <div id="page_template_1_a" class="page_template">
        <img src="http://dawncompk.files.wordpress.com/2012/10/2-german-alps-pictures-afp-670.jpg" style="width: 790px;">
    </div>
    <div id="page_template_1_b" class="page_template">
        <img src="http://dawncompk.files.wordpress.com/2012/10/2-german-alps-pictures-afp-670.jpg" style="width: 790px;">
    </div>
</div>

<div id="page_template_2">
    <div id="page_template_2_a" class="page_template">
        <img src="http://dawncompk.files.wordpress.com/2012/10/2-german-alps-pictures-afp-670.jpg" style="height: 590px;">
    </div>
    <div id="page_template_2_b" class="page_template">
        <img src="http://dawncompk.files.wordpress.com/2012/10/2-german-alps-pictures-afp-670.jpg" style="height: 590px;">
    </div>
</div>

<div id="page_template_3">
    <div id="page_template_3_a" class="page_template">
        <img src="http://dawncompk.files.wordpress.com/2012/10/2-german-alps-pictures-afp-670.jpg" style="width: 790px;">
    </div>
    <div id="page_template_3_b" class="page_template">
        <img src="http://dawncompk.files.wordpress.com/2012/10/2-german-alps-pictures-afp-670.jpg" style="height: 290px;">
    </div>
    <div id="page_template_3_c" class="page_template">
        <img src="http://dawncompk.files.wordpress.com/2012/10/2-german-alps-pictures-afp-670.jpg" style="height: 290px;">
    </div>
</div>

<div id="page_template_4">
    <div id="page_template_4_a" class="page_template">
        <img src="http://dawncompk.files.wordpress.com/2012/10/2-german-alps-pictures-afp-670.jpg" style="height: 590px;">
    </div>
    <div id="page_template_4_b" class="page_template">
        <img src="http://dawncompk.files.wordpress.com/2012/10/2-german-alps-pictures-afp-670.jpg" style="height: 290px;">
    </div>
    <div id="page_template_4_c" class="page_template">
        <img src="http://dawncompk.files.wordpress.com/2012/10/2-german-alps-pictures-afp-670.jpg" style="height: 290px;">
    </div>
</div>

<div id="page_template_5">
    <div id="page_template_5_a" class="page_template">
        <img src="http://dawncompk.files.wordpress.com/2012/10/2-german-alps-pictures-afp-670.jpg" style="height: 290px;">
    </div>
    <div id="page_template_5_b" class="page_template">
        <img src="http://dawncompk.files.wordpress.com/2012/10/2-german-alps-pictures-afp-670.jpg" style="height: 290px;">
    </div>
    <div id="page_template_5_c" class="page_template">
        <img src="http://dawncompk.files.wordpress.com/2012/10/2-german-alps-pictures-afp-670.jpg" style="height: 290px;">
    </div>
    <div id="page_template_5_d" class="page_template">
        <img src="http://dawncompk.files.wordpress.com/2012/10/2-german-alps-pictures-afp-670.jpg" style="height: 290px;">
    </div>
</div>