<div class="container">
    <div class="hero-unit">
        <h2>
            {{ album.name }} Album's name <small><a href="#view_album" role="button" data-toggle="modal" class="btn btn-large btn-info">View the album</a></small></h2>
        <p>
            {{ album.description }} Album's description</p>
        <div class="row-fluid">
            <ul class="thumbnails">
                <li class="span3">
                    <div class="thumbnail">
                        <a href="#" class="thumbnail">
                            <img src="http://carryoncitizens.com/files/600px-WiimoteButton1_svg.png" alt="Thumbnail">
                        </a>
                        <div class="caption">
                            <h3>
                                album's name</h3>
                            <p>
                                <a href="" class="btn btn-primary">Edit</a> <a href="#" class="btn btn-danger">Delete</a></p>
                        </div>
                    </div>
                </li>
                {% for page in album.pages.all %}
                <li class="span3">
                    <div class="thumbnail">
                        <a href="#" class="thumbnail">
                            <img src="http://carryoncitizens.com/files/600px-WiimoteButton1_svg.png" alt="Thumbnail">
                        </a>
                        <div class="caption">
                            <h3>
                                {{ page.name }}</h3>
                            <p>
                                <a href="" class="btn btn-primary">Edit</a> <a href="#" class="btn btn-danger">Delete</a></p>
                        </div>
                    </div>
                </li>
                {% endfor %}
                <li class="span3" id="new_album"><a href="#create_page" role="button" class="btn"
                    data-toggle="modal">
                    <h4>
                        Click to create new page</h4>
                </a></li>
            </ul>
        </div>
    </div>
</div>


<div id="create_page" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="icon-remove"></i></button>
        <h3 id="myModalLabel">
            New page</h3>
    </div>
    <div class="modal-body">
        <div class="page_view" style="float:left;">
            <div id="page_template_0">
                <div id="page_template_0_a" class="page_template">
                    <img src="http://dawncompk.files.wordpress.com/2012/10/2-german-alps-pictures-afp-670.jpg"
                        style="width: 790px;">
                </div>
            </div>
        </div>
        <div class="page_edit">
        <p>
            templates, pictures...</p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            Close</button>
        <button class="btn btn-primary" onclick="creat_album()">
            Save</button>
    </div>
</div>

<div id="view_album" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="icon-remove"></i>
        </button>
        <h3 id="H1">
            View Album</h3>
    </div>
    <div class="modal-body">
        <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <div class="page_view" style="position:relative; left: 10px;">
                        <div id="page_template_1" >
                            <div id="page_template_1_a" class="page_template">
                                <img src="http://dawncompk.files.wordpress.com/2012/10/2-german-alps-pictures-afp-670.jpg"
                                    style="width: 790px;">
                            </div>
                            <div id="page_template_1_b" class="page_template">
                                <img src="http://dawncompk.files.wordpress.com/2012/10/2-german-alps-pictures-afp-670.jpg"
                                    style="width: 790px;">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-caption">
                        <h4>First page label</h4>
                        <p>page 1</p>
                    </div>
                </div>
                <div class="item">
                    <div class="page_view" style="position:relative; left: 10px;">
                        <div id="page_template_2">
                            <div id="page_template_2_a" class="page_template">
                                <img src="http://dawncompk.files.wordpress.com/2012/10/2-german-alps-pictures-afp-670.jpg"
                                    style="height: 590px;">
                            </div>
                            <div id="page_template_2_b" class="page_template">
                                <img src="http://dawncompk.files.wordpress.com/2012/10/2-german-alps-pictures-afp-670.jpg"
                                    style="height: 590px;">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-caption">
                        <h4>Second page label</h4>
                        <p>page 2</p>
                    </div>
                </div>
                <div class="item">
                    <div class="page_view" style="position:relative; left: 10px;">
                        <div id="page_template_3">
                            <div id="page_template_3_a" class="page_template">
                                <img src="http://dawncompk.files.wordpress.com/2012/10/2-german-alps-pictures-afp-670.jpg"
                                    style="width: 790px;">
                            </div>
                            <div id="page_template_3_b" class="page_template">
                                <img src="http://dawncompk.files.wordpress.com/2012/10/2-german-alps-pictures-afp-670.jpg"
                                    style="height: 290px;">
                            </div>
                            <div id="page_template_3_c" class="page_template">
                                <img src="http://dawncompk.files.wordpress.com/2012/10/2-german-alps-pictures-afp-670.jpg"
                                    style="height: 290px;">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-caption">
                        <h4>Third page label</h4>
                        <p>page 3</p>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            Close</button>
        <button class="btn btn-primary" onclick="creat_album()">
            Save</button>
    </div>
</div>
